@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.container{
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin-top: 56px;
    border-radius: 0;
}