@import "~bootstrap/dist/css/bootstrap.css"; 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "~angular-notifier/styles";

@import 'prismjs/themes/prism.css';

a {
    color: #337ab7;
}

body {
    color: #373742;
}

.container{
    font-family: 'Lato', sans-serif;
    text-shadow: none;
}

.btn {
    letter-spacing: 1px;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 8px 20px;
}

.form-control {
    position: relative;
    display: block;
    padding: 0.8em!important;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    -webkit-appearance: none;
    height: auto!important;
}

.form-control:focus {
    border-color: #a3d39c;
    box-shadow: 0 0 0 0.1rem #a3d39c;
    transition: background-color .3s, border-color .3s;
}

input.ng-valid {
    border-color: #a3d39c;
    box-shadow: 0 0 0 0.1rem #a3d39c;
    background-color: #fff;
    transition: background-color .3s, border-color .3s;
}

input.ng-invalid.ng-touched {
    border-color: #8a3535;
    box-shadow: 0 0 0 0.1rem #8a3535;
    background-color: #fff;
    transition: background-color .3s, border-color .3s;
}


.modal-content  {

    border-radius: 0px !important; 
}

blockquote {
    border-left: 3px solid rgba(0,0,0,0.21);
    padding-left: 12px;
    color: rgba(0,0,0,0.54);
}
mark {
    background-color: #a3d39c;
    padding: 0%;
}

.tooltip {
    white-space: nowrap;
}


a[ng-reflect-router-link] {
    color: rgba(255, 255, 255, 0.5) !important;
}











