.challenge-button {
    box-shadow: 3px 3px 3px grey;
    
}

.solved-challenge {
    background-color: #37d63e!important;
    opacity: .4;
    border: none;
}

b {
    font-weight: bolder;
}

.table {
    cursor: pointer;
}

tr, th {
    border: 0px;
}

.cursor-custom {
    cursor: auto !important;
}